*{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
}

body{
	background: #353b48;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn,.btn-1,.btn-2,.btn-3{
	width: 200px;
	height: 60px;
	background: none;
	border: 4px solid;
	margin-right: 15px;
	padding: 7px 30px;
	border-radius: 20px;
	color: #3498db;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 16px;
	position: relative;
}

.btn::before,.btn::after{
	content: "";
	position: absolute;
	width: 14px;
	height: 4px;
	background: #353b48;
	transform: skewX(50deg);
	transition: .4s linear;
}

.btn::before{
	top: -4px;
	left: 10%;
}
.btn::after{
	bottom: -4px;
	right: 10%;
}
.btn:hover::before{
	left: 80%;
}
.btn:hover::after{
	right: 80%;
}

.btn-1::before,.btn-1::after{
	content: "";
	position: absolute;
	width: 14px;
	height: 4px;
	background: #353b48;
	transform: skewX(50deg);
	transition: .4s linear;
}

.btn-1::before{
	top: -4px;
	left: 10%;
}
.btn-1::after{
	bottom: -4px;
	right: 10%;
}
.btn-1:hover::before{
	left: 80%;
}
.btn-1:hover::after{
	right: 80%;
}

.btn-2::before,.btn-2::after{
	content: "";
	position: absolute;
	width: 14px;
	height: 4px;
	background: #353b48;
	transform: skewX(50deg);
	transition: .4s linear;
}

.btn-2::before{
	top: -4px;
	left: 10%;
}
.btn-2::after{
	bottom: -4px;
	right: 10%;
}
.btn-2:hover::before{
	left: 80%;
}
.btn-2:hover::after{
	right: 80%;
}

.btn-3::before,.btn-3::after{
	content: "";
	position: absolute;
	width: 14px;
	height: 4px;
	background: #353b48;
	transform: skewX(50deg);
	transition: .4s linear;
}

.btn-3::before{
	top: -4px;
	left: 10%;
}
.btn-3::after{
	bottom: -4px;
	right: 10%;
}
.btn-3:hover::before{
	left: 80%;
}
.btn-3:hover::after{
	right: 80%;
}